<!doctype html>
<html>
<head>
<link href="css/GitHub2.css" rel="stylesheet">
<script src="js/jquery-2.1.1.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7d726c33e1a2cbb37345e079aeca99e1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<title>THULAC：一个高效的中文词法分析工具包</title>

</head>
<body>
<h1>THULAC：一个高效的中文词法分析工具包</h1>

<p>欢迎下载THULAC中文分词工具包，请选在需要的文件进行下载</p>

<h2>下载列表</h2>
<table>
<thead>
<tr>
<th>Source</th>
<th>Description</th>
<th>Size</th>
<th>Data</th>
<th>Link</th>
</tr>
</thead>
<tbody>
<tr>
<td>THULAC_c++_v1.tar.gz</td>
<td>THULAC分词源代码</td>
<td>799KB</td>
<td>2016-01-10</td>
<td><a href="/source/THULAC_c++_v1.tar.gz" download = "THULAC_c++_v1.tar.gz">download</a></td>
</tr>
<tr>
<td>Models_v1.zip</td>
<td>THULAC模型，包括分词模型和词性标注模型</td>
<td>58.2MB</td>
<td>2016-01-10</td>
<td><a href="/source/Models_v1_v2.zip" download = "Models_v1_v2.zip">download</a></td>
</tr>
</tbody>
</table>
<center>
    版权所有：清华大学自然语言处理与社会人文计算实验室<br>Copyright：Natural Language Processing and Computational Social Science Lab, Tsinghua University<br>
    <br>
</center>
</body>
</html>