<!doctype html>
<html>
<head>
<link href="css/GitHub2.css" rel="stylesheet">
<script src="js/jquery-2.1.1.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>THULAC：一个高效的中文词法分析工具包</title>

</head>
<body>
<h1>THULAC：一个高效的中文词法分析工具包</h1>

<p>欢迎下载THULAC中文分词工具包，请下载申请表，或使用源文件中的"doc/申请表.docx"，填写并发送到thunlp@gmail.com。我们会及时与您联系洽谈。</p>

<h2>申请表下载</h2>
<table>
<thead>
<tr>
<th>Source</th>
<th>Description</th>
<th>Size</th>
<th>Data</th>
<th>Link</th>
</tr>
</thead>
<tbody>
<tr>
<td>申请表.doc</td>
<td>申请使用THULAC模型文件的申请表</td>
<td>799KB</td>
<td>2016-01-10</td>
<td><a href="/source/shenqingbiao.docx" download = "申请表.docx">download</a></td>
</tbody>
</table>
<center>
    版权所有：清华大学自然语言处理与社会人文计算实验室<br>Copyright：Natural Language Processing and Computational Social Science Lab, Tsinghua University<br>
    <br>
</center>
</body>
</html>